// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.product-index {
  width: 90%;
  padding: 5% 0 0 10%;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 5%;

}



.products-header {
  text-align: center;
  padding: 5%;
}
.form-check {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}
.form {
  margin-left: 20%;
}

input {
  width: 60%;
}

.form-check > input {
  width:20%;
  height: 10%;
}
