<div class="form"> 
  <%= form_with model: @category do |f| %>
    <div class="form-group">
      <%= f.label "Name:" %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "#{action_name} Category", class: "product-button" %>
  <% end %>
</div> 