<h3 class="products-header"> Edit Product Form </h3>
<%= render partial: "form", locals: { action_name: "Edit", name: @product.name, price: @product.price, img_url: @product.img_url, description: @product.description, qty: @product.qty } %>
