 
<h3 class="products-header"> New Product Form </h3>

<%= render partial: "form", locals: { action_name: "Add", name: "", price: "", img_url: "", description: "", qty: "" } %>

<button >
  <%= link_to "New Category", new_category_path %>
</button>   
